<h3>Wybierz rodzaj płatności</h3>
<div class='centered_form'>
  <%= form_with url: order_payment_method_path, local: true do |form| %>
    <%= form.number_field :payment_method_id %>

    <%= form.submit "Submit", class: 'black_button'  %>
  <% end %>
</div>
