<h3>Delivery Method</h3>
<div class='centered_form'>
  <%= form_with model: @order, local: true do |form| %>
    <%= form.number_field :delivery_method_id %>
    <%= form.hidden_field :step, value: "Checkout::DeliveryMethod" %>

    <%= form.submit "Submit", class: 'black_button'  %>
  <% end %>
</div>
