<h3>Wybierz rodzaj dostawy</h3>
<div class='centered_form'>
  <%= form_with url: order_delivery_method_path, local: true do |form| %>
    <%= form.number_field :delivery_method_id %>

    <%= form.submit "Submit", class: 'black_button'  %>
  <% end %>
</div>
