<h1>Ruby Shop</h1>

<div class='row'>
  <% @products.each do |product| %>
    <div class='product-box col-3'>
      <div class='product'>
        <div class='name'><%= link_to product.name, product %></div>
        <div class=price><%= number_to_currency(product.price, :unit => "zł") %></div>
      </div>
    </div>
  <% end %>
<div>
